/PAQA
/SHE_ArCTIC/SHE_ArCTIC/config.h
/InstallArea
/build.x86_64-co7-gcc48-cov
/build.x86_64-co7-gcc48-o2g
/build.x86_64-slc7-gcc48-o2g
/gcc-warnings.log
/sonar-project.properties
/.cproject
/.project
/.settings
/.sonar
/Debug
